.hero-pic {
	width: 170px;
	/* center text */
	text-align: center;
}
.hero-pic img {
	/* center image */
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 140px;
	max-height: 40px;
}
.hero-pic label {
	width:140px;
}
.hero-pic * {
	cursor: pointer;
}
input[type=checkbox].invisible-friend {
	display: none;
}

p.res-answer {
	padding: 15px;
}
div#disclaimer {
	margin-top: 20px;
}

div#footer {
	margin-top: 40px;
}
div#result {
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
div#result.collapsed {
	overflow-y: hidden;
	max-height: 0;
	color: rgba(0, 0, 0, 0);
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}