.hero-pic {
	width: 170px;
	/* center text */
	text-align: center;
}
.hero-pic img {
	/* center image */
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 140px;
	max-height: 40px;
}

input[type=checkbox].invisible-friend {
	display: none;
}
.hero-pic * {
	cursor: pointer;
}
.hero-pic.selected {
	background: blue;
}